@font-face {
    font-family: "iconfont"; /* Project id 3255700 */
    src: url('//at.alicdn.com/t/font_3255700_h4ptjdkogym.woff2?t=1647608323184') format('woff2'),
         url('//at.alicdn.com/t/font_3255700_h4ptjdkogym.woff?t=1647608323184') format('woff'),
         url('//at.alicdn.com/t/font_3255700_h4ptjdkogym.ttf?t=1647608323184') format('truetype');
  }
  
  .iconfont-header {
    font-family: "iconfont" ;
    font-size: 20px;
    font-weight: lighter;
    color: aliceblue;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-theme:before {
    font-size: 20px;
    content: "\e603";
  }
  
  .icon-search:before {
    content: "\e62f";
  }
  
  .icon-setting:before {
    content: "\e64b";
  }
  
  .icon-MINIMIZE:before {
    content: "\e710";
  }
  
  .icon-close:before {
    content: "\eca0";
  }
  
  .icon-maximize:before {
    content: "\e651";
  }
  
  .icon-letter:before {
    content: "\e610";
  }
  
  .icon-arrow-left:before {
    color: #808080;
    font-size: 20px;
    content: "\e672";
  }
  
  .icon-arrow-right:before {
    color: #808080;
    font-size: 20px;
    
    content: "\e673";
  }
  
  .icon-mic-on:before {
    
    content: "\e96b";
  }
  
  .icon-minimize:before {
    content: "\e644";
  }
  
  .icon-arrow-left-found:before {
    font-size: 20px;
    content: "\e672";
  }
  
  .icon-arrow-right-found:before {
    font-size: 20px;
    
    content: "\e673";
  }